*~
*.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*xcuserdata*
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.patch
*xcshareddata*
*gitconfig
*.diff
shellLog.md
NewAVPlayer/Player/QYPlayerAVLibVersion.h
build/armv7-iphones/libav.a
build/libav.a
build/Debug-iphonesimulator/include/av/AVPlayerController.h
build/Debug-iphonesimulator/include/av/CornerAdsIndexModel.h
build/Debug-iphonesimulator/include/av/CornerAdsItemModel.h
build/Debug-iphonesimulator/include/av/MediaSessionVolume.h
build/Debug-iphonesimulator/include/av/PauseAdsModel.h
build/Debug-iphonesimulator/include/av/PlayerDefines.h
build/Debug-iphonesimulator/include/av/QYAirPlayView.h
build/Debug-iphonesimulator/include/av/QYTicketModel.h
build/Debug-iphonesimulator/libav.a
build/arm64-iphones/include/av/AVPlayerController.h
build/arm64-iphones/include/av/CornerAdsIndexModel.h
build/arm64-iphones/include/av/CornerAdsItemModel.h
build/arm64-iphones/include/av/MediaSessionVolume.h
build/arm64-iphones/include/av/PauseAdsModel.h
build/arm64-iphones/include/av/PlayerDefines.h
build/arm64-iphones/include/av/QYAirPlayView.h
build/arm64-iphones/include/av/QYTicketModel.h
build/arm64-iphones/libav.a
build/armv7-iphones/include/av/AVPlayerController.h
build/armv7-iphones/include/av/CornerAdsIndexModel.h
build/armv7-iphones/include/av/CornerAdsItemModel.h
build/armv7-iphones/include/av/MediaSessionVolume.h
build/armv7-iphones/include/av/PauseAdsModel.h
build/armv7-iphones/include/av/PlayerDefines.h
build/armv7-iphones/include/av/QYAirPlayView.h
build/armv7-iphones/include/av/QYTicketModel.h
build/*
product/*
